doctype html
html(lang="en")
    head
        meta( charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" type="text/css" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-grid@^4.3.8,o-fonts@^3.0.4,o-header@^7.2.9,o-header-services@^2.0.5,o-buttons@^5.8.5,o-teaser@^2.2.2")
        link( rel="stylesheet" type="text/css" href="/assets/css/style.css")
        script(src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-grid@^4.3.8,o-fonts@^3.0.4,o-header@^7.2.9,o-header-services@^2.0.5,o-buttons@^5.8.5,o-teaser@^2.2.2" async)
    body
    header.o-header(data-o-component='o-header', data-o-header--no-js='')
        .o-header__row.o-header__top
            .o-header__container
                .o-header__top-wrapper
                    .o-header__top-column.o-header__top-column--left
                        a.o-header__top-link.o-header__top-link--search(href='#o-header-search', aria-controls='o-header-search-js', title='Open search bar')
                            span.o-header__top-link-label Search
                    .o-header__top-column.o-header__top-column--center
                        a.o-header__top-logo(href='/', title='Go to Financial Times homepage')
                            span.o-header__visually-hidden Financial Times
                    .o-header__top-column.o-header__top-column--right
                    block location
        nav#o-header-nav-mobile.o-header__row.o-header__nav.o-header__nav--mobile(role='navigation', aria-label='Main navigation')
            ul.o-header__nav-list
                li.o-header__nav-item
                    a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/home', aria-label=(loc==='home' ? 'Current page' : ''), aria-selected=(loc==="home" ? "true" : "")) Home
                li.o-header__nav-item
                    a.o-header__nav-link.o-header__nav-link--primary(href='/fastft', aria-label=(loc==='fastft' ? 'Current page' : ''), aria-selected=(loc==="fastft" ? "true" : "")) FastFT
                li.o-header__nav-item
                    a.o-header__nav-link.o-header__nav-link--primary(href='/marketsdata', aria-label=(loc==='marketsdata' ? 'Current page' : ''), aria-selected=(loc==="marketsdata" ? "true" : "")) Markets Data
        nav#o-header-nav-desktop.o-header__row.o-header__nav.o-header__nav--desktop(role='navigation', aria-label='Main navigation')
            .o-header__container
                ul.o-header__nav-list.o-header__nav-list
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/home', aria-label=(loc==='home' ? 'Current page' : ''), aria-selected=(loc==="home" ? "true" : "")) Home
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/world', aria-label=(loc==='world' ? 'Current page' : ''), aria-selected=(loc==="world" ? "true" : "")) World
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/uk', aria-label=(loc==='uk' ? 'Current page' : ''), aria-selected=(loc==="uk" ? "true" : "")) UK
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/companies', aria-label=(loc==='companies' ? 'Current page' : ''), aria-selected=(loc==="companies" ? "true" : "")) Companies
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/markets', aria-label=(loc==='markets' ? 'Current page' : ''), aria-selected=(loc==="markets" ? "true" : "")) Markets
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/opinion', aria-label=(loc==='opinion' ? 'Current page' : ''), aria-selected=(loc==="opinion" ? "true" : "")) Opinion
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/workandcareers', aria-label=(loc==='wac' ? 'Current page' : ''), aria-selected=(loc==="wac" ? "true" : "")) Work & Careers
                    li.o-header__nav-item
                        a#o-header-link-.o-header__nav-link.o-header__nav-link--primary(href='/lifeandarts', aria-label=(loc==='laa' ? 'Current page' : ''), aria-selected=(loc==="laa" ? "true" : "")) Life & Arts
                ul.o-header__nav-list.o-header__nav-list--right
        #o-header-search-js.o-header__row.o-header__search(role='search', data-o-header-search='')
            .o-header__container
                form.o-header__search-form(action='/search', role='search', aria-label='Site search')
                    label.o-header__visually-hidden(for='o-header-search-term-js')
                        | Search the
                        abbr(title='Financial Times') FT
                    input#o-header-search-term-js.o-header__search-term(name='q', type='text', placeholder='Search the FT')
                    button.o-header__search-submit(type='submit')
                        | Search
                    button.o-header__search-close.o--if-js(type='button', aria-controls='o-header-search-js', title='Close search bar')
                        span.o-header__visually-hidden Close
        o-grid-row
        div(data-o-grid-colspan="12 XL6 XLoffset3")
            block content
            each article in data
                section
                    .o-teaser.o-teaser--small(data-o-component='o-teaser')
                        .o-teaser__content
                            .o-teaser__meta
                                a.o-teaser__tag(href='#') News
                            h2.o-teaser__heading
                                - var url = article.location.uri;
                                a(href=url) #{article.title.title}
                            p.o-teaser__standfirst #{article.summary.excerpt}
                            .o-teaser__timestamp.o-teaser
                                - var publisDate = article.lifecycle.lastPublishDateTime;
                                time.o-date(data-o-component='o-date', datetime=publisDate) #{article.lifecycle.lastPublishDateTime}

    script(src='//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-header%407.2.9%3A%2Fdemos%2Fsrc%2Fmain.js%2Co-colors%2Co-normalise')
    script(src='//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-date%40%5E2.8.0')
    script(src='//www.ft.com/__origami/service/build/v2/bundles/js?modules=o-teaser%402.2.2%3A%2Fdemos%2Fsrc%2Fdemo.js%2Co-date%40%5E2.2.1%2Co-normalise%40%5E1.0.0')
